---
import Layout from "../layouts/Layout.astro"

interface NewsItem {
  title: string;
  description: string;
}

let newsData: NewsItem[] = [];

try {
  const response = await fetch('http://localhost:8080/news');
  newsData = await response.json() || []; // Установка пустого массива, если response.json() возвращает falsy значение (например, null)
} catch (error) {
  console.error("Failed to fetch news:", error);
  newsData = []; // Установка пустого массива в случае ошибки
}
---

<Layout title="News">
  <main>
    <h1 class="text-center  text-3xl">Новости</h1>
    <div class="news-wrapper flex flex-col gap-8 justify-center items-center">
      {newsData.map((news) => (
        <div class="news-card border w-[300px] flex flex-row">
          <img src="favicon.svg" alt="News Thumbnail" width="50px" height="50px">
          <div class="news-card-content">
            <h3>{news.title}</h3>
            <p>{news.description}</p>
          </div>
        </div>
      ))}
    </div>
  </main>
</Layout>

<style lang="scss" scoped>
</style>

